amqp==2.4.0
billiard==3.5.0.5
celery==4.2.1
Click==7.0
Django==2.1.5
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
kombu==4.2.2.post1
MarkupSafe==1.1.0
Pillow==5.4.1
pytz==2018.9
redis==3.1.0
SQLAlchemy==1.2.17
vine==1.2.0
Werkzeug==0.14.1
